button.primaire {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: #27EB42;
    border-radius: 20px;
    border: #27EB42;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
}

button.secondaire {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: transparent;
    border: 1px solid #27EB42;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
}

button.validation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: #767676;
    border-radius: 20px;
    border: #767676;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
}