.primaire {
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: var(--accent-color);
    border-radius: 20px;
    border: var(--accent-color);
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.secondaire {
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.validation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 174px;
    height: 40px;
    background: var(--secondaire-color);
    border-radius: 20px;
    border: var(--secondaire-color);
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

/* lien cliquable */
.lien {
    color: var(--secondaire-color);
    text-decoration: underline;
    font-size: 14px;
    padding-left: 10px;
}
/* genre */
div label input {
    margin-right: 10px;
}

.musique {
    background-color: #18181b;
    margin: 4px;
    border-radius: 20px;
    border: solid 1px #ffffff;
    overflow: hidden;
    float: left;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 20px;
    padding: 0px;
}

.musique label {
    float: left;
    line-height: 42px;
    width: 92px;
    height: 42px;
    cursor: pointer;
}

.musique label span {
    text-align: center;
    display: block;
}

.musique label input {
    position: absolute;
    display: none;
    color: #ffffff;
}

.Afro input:checked + span {
    background-color: #51abff40;
}

.Afro:hover {
    background-color: #51abff40;
    border: 2px solid #51abff;
}

.Afro {
    border: 2px solid #51abff;
}

.Afro span {
    color: #51abff;
}

.Reggaeton input:checked + span {
    background-color: #51abff40;
}

.Reggaeton:hover {
    background-color: #00e0ff40;
    border: 2px solid #00e0ff;
}

.Reggaeton {
    border: 2px solid #00e0ff;
}

.Reggaeton span {
    color: #00e0ff;
}

.Jazz input:checked + span {
    background-color: #1e34ff40;
}

.Jazz:hover {
    background-color: #1e34ff40;
    border: 2px solid #1e34ff;
}

.Jazz {
    border: 2px solid #1e34ff;
}

.Jazz span {
    color: #1e34ff;
}

.Electro input:checked + span {
    background-color: #27eba440;
}

.Electro:hover {
    background-color: #27eba440;
    border: 2px solid #27eba4;
}

.Electro {
    border: 2px solid #27eba4;
}

.Electro span {
    color: #27eba4;
}

.Country input:checked + span {
    background-color: #fff59840;
}

.Country:hover {
    background-color: #fff59840;
    border: 2px solid #fff598;
}

.Country {
    border: 2px solid #fff598;
}

.Country span {
    color: #fff598;
}

.Metal input:checked + span {
    background-color: #6627eb40;
}

.Metal:hover {
    background-color: #6627eb40;
    border: 2px solid #6627eb;
}

.Metal {
    border: 2px solid #6627eb;
}

.Metal span {
    color: #6627eb;
}

.Hip-hop input:checked + span {
    background-color: #faff0040;
}

.Hip-hop:hover {
    background-color: #faff0040;
    border: 2px solid #faff00;
}

.Hip-hop {
    border: 2px solid #faff00;
}

.Hip-hop span {
    color: #faff00;
}

.Punk input:checked + span {
    background-color: #eb6e2740;
}

.Punk:hover {
    background-color: #eb6e2740;
    border: 2px solid #eb6e27;
}

.Punk {
    border: 2px solid #eb6e27;
}

.Punk span {
    color: #eb6e27;
}

.Rock input:checked + span {
    background-color: #ff000040;
}

.Rock:hover {
    background-color: #ff000040;
    border: 2px solid #ff0000;
}

.Rock {
    border: 2px solid #ff0000;
}

.Rock span {
    color: #ff0000;
}

.Variété input:checked + span {
    background-color: #eb276e40;
}

.Variété:hover {
    background-color: #eb276e40;
    border: 2px solid #eb276e;
}

.Variété {
    border: 2px solid #eb276e;
}

.Variété span {
    color: #eb276e;
}

.Variété label {
    float: left;
    line-height: 21px;
}

.Pop input:checked + span {
    background-color: #8b0bc740;
}

.Pop:hover {
    background-color: #8b0bc740;
    border: 2px solid #8b0bc7;
}

.Pop {
    border: 2px solid #8b0bc7;
}

.Pop span {
    color: #8b0bc7;
}

.Rap input:checked + span {
    background-color: #ff00c740;
}

.Rap:hover {
    background-color: #ff00c740;
    border: 2px solid #ff00c7;
}

.Rap {
    border: 2px solid #ff00c7;
}

.Rap span {
    color: #ff00c7;
}

.containerGenre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
}

.containerForm {
    display: flex;
    justify-content: center;
}

.validButton {
    margin-left: 40px;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 210px;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 20px 0 10px;
    line-height: 2px;
    border-radius: 17px;
}

#derouleur.active,
.collapsible:hover,
#derouleur svg:hover {
    background-color: #1e1e22;
}

.content {
    padding: 0 18px;
    background-color: #18181b;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#derouleur svg {
    float: right;
    margin-left: 5px;
}

#boutonPlus {
    transform: translateY(-10px);
    background: none;
}

.mailInput {
    text-align: left;
    width: 150px;
    color: white;
    padding-left: 16px;
    background-image: url("../../public/storage/images/pencil.svg");
    background-repeat: no-repeat;
    background-position: right 7% center;
    padding-right: 40px;
}

.mailInput::placeholder {
    color: #767676;
}

#porte {
    transform: translateY(-50px);
}

.passwordInput {
    width: 150px;
    color: white;
    translate: translate(16px);
    padding-left: 16px;
    background-image: url("../../public/storage/images/pencil.svg");
    background-repeat: no-repeat;
    background-position: right 7% center;
    padding-right: 40px;
    text-align: left;
}

.enregistrer {
    margin-bottom: 100px;
}

.svgSubmit {
    float: right;
    padding: 0;
    width: 35px; /* Ajustez la taille du bouton */
    height: 35px;
    border: none;
    background: none;
    cursor: pointer;
    background-image: url("../../public/storage/images/porte.svg"); /* Chemin vers votre fichier SVG */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(0, -48px);
}

.svgSubmit::-moz-focus-inner,
.svgSubmit::-webkit-search-cancel-button,
.svgSubmit::-webkit-search-decoration,
.svgSubmit::-webkit-search-results-button,
.svgSubmit::-webkit-search-results-decoration {
    display: none;
}

.svgSubmit:hover {
    fill: #27eb42;
}

.error {
    font-size: 10px;
}

.alert-modification {
    color: #27eb42;
    font-size: 15px;
}
