.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
    white-space: normal;
    position: absolute;
    width: 348px;
    height: 37.33px;
    padding-left: 10px;
    line-height: 17px;
    color: #ffffff;
    background-color: transparent;
    text-align: left;
}

.user {
    display: block;
    white-space: normal;
    background-color: transparent;
    color: var(--accent-color);
}

.encadree {
    padding-left: 10px;
    margin-bottom: 15px;
    height: 5rem;
    background: #2a2a2f;
    border-radius: 20px;
    position: relative !important;
}

input:focus.ecritMessage {
    outline: none;
}

.ecritMessage::placeholder {
    color: black;
}

.ecritMessage {
    padding-left: 10px;
    color: black;
    margin-top: -100px;
    background: #767676;
    border: 1px solid #767676;
    border-radius: 20px;
    width: 299px;
    height: 31px;
}

#boutonEnvoi {
    margin-top: -100px;
}

.sectionChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#send_message {
    background-color: transparent;
    /* Pour rendre le fond du bouton transparent */
    border: none;
    /* Pour supprimer la bordure du bouton */
    padding: 0;
    /* Pour supprimer le padding du bouton */
    cursor: pointer;
    /* Pour afficher le curseur en tant que pointeur */
}

#send_message svg {
    height: 70px;
    width: 70px;
}



#encadreeMessage {
    padding-bottom: 50px;
}

input#message {
    border-radius: 20px;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.presentation {
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin: 0px;
}

.presentation img {
    width: 80px;
    height: 52px;
    margin-bottom: 28px;
    border-radius: 10px;
}

.presentationTexte {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 0px;
}

.textePres {
    margin: 0px;

}

#titreEmissionEnDirect {
    color: var(--accent-color);
}

.genreMusiqueMessage span {

    background-color: transparent !important;
    font-size: 11px;
}

p.genres {
    background-color: transparent;
}

#send_message svg {

transform: translateX(20px) translateY(50px);

}

#genresUtilisateurs {
    margin-left: 70px;
}

#heureDuMessage {
    font-size: 11px !important;
    color: var(--secondaire-color);
}

#minutesEnvoie {
    font-size: 11px !important;
    color: var(--secondaire-color);
    background-color: transparent !important;
    /* Styles spécifiques pour le premier élément .user dans .encadree */
}

div#messageAEnvoyer {
    margin-bottom: 150px;
}

.encadree.monEncadree {
    background-color: #2A3D31;
}
strong#minutesEnvoie {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    padding-right: 10px;
    padding-top: 10px;
}